.container{
    display: flex;
    flex-direction: column;
}

.labelStyle{
    margin-top: 1rem;
    width: 90%;
    font-size: 1rem;
}

.inputStyle{
    margin-top: 1rem;
    padding: 0 2rem;
    height: 4rem;
    background-color: var(--pink-100);
    font-size: 1rem;
    border: none;
    border-radius: 10px;
}

@media (max-width: 56.25rem) {
    .container{
        width: 90%;
    }
}

@media (max-width: 33.9375rem) {
    .container{
        width: 98%;
    }

    .labelStyle{
        font-size: .9rem;
    }
    
    .inputStyle{
        /* margin-top: 1rem;
        padding: 0 2rem;
        background-color: var(--pink-100);
        border: none;
        border-radius: 10px; */
        font-size: .9rem;
        height: 3.5rem;
    }
}