.container{
    display: flex;
    flex-direction: column;
}

.labelStyle{
    margin-top: 1rem;
    width: 90%;
    font-size: 1rem;
}

.inputStyle{
    margin-top: 1rem;
    padding: 0 1rem;
    width: 100%;
    height: 7rem;
    background-color: var(--pink-100);
    font-size: 1rem;
    border: none;
    border-radius: 10px;
}
