
.container{
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border: var(--brown-300) solid 2px;
    width: 75%;
    border-radius: 15px;
}

.formContainer{
    display: flex;
    padding: .5rem;
    color: var(--brown-300);
    font-weight: 700;
    gap: 1rem;
    
}

.formContainer fieldset{
    width: 100%;
    border: none;

}
.container button {
    margin: 1rem 0;
    color: var(--white);
    font-weight: 700;
    cursor: pointer;
    background-color: var(--brown-300);
    border-radius: 10px;
    max-width: 40%;
    min-width: 30%;
    align-self: center;
    height: 3rem;
    font-size: 1rem;
    font-weight: 700;
    border: none;
}
