.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 2rem;
    gap: 10rem;
}

.selectContainer{
    margin-right: 1rem;
}

.selectContainer select {
    width: 55rem;
    height: 4rem;
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--brown-300);
    padding: 1rem;
    border-radius: 10px;
    border: var(--brown-300) solid 2px;
    background-color: var(--white);
}
